:root {
--primary-color: #BFD2BF;
--lighter-secondary-color: #7BB2D9;
--darker-secondary-color: #839D9A;
--lighter-tertiary-color: #646F4B;
--darker-tertiary-color: #46351D;
}

header {
    border-bottom: 0.5rem outset var(--lighter-secondary-color);
    color: var(--primary-color);
    margin-bottom: 1rem;
}

#page-title {
    align-self: center;
}

#userProfile {
    margin: 0 2rem 0 1rem;
}

#workoutInput {
    width:100%;
}

#header {
    background-color: var(--lighter-secondary-color);
}

#header ul {
    background-color: var(--lighter-secondary-color);
}

#workouts {
    padding-bottom: 0.3rem;
    border-bottom: 0.2rem solid var(--darker-tertiary-color)
}

#userProfile h2 {
    padding-bottom: 0.6rem;
    border-bottom: 0.2rem solid var(--darker-secondary-color);
}

#bodyInfo{
    display: flex;
    flex-direction: column;
    padding: 1em 1em 1em 1em;
    margin-top: 10px;
    box-shadow: 2px 8px 15px 0px rgba(0,0,0,0.46);
}



#exerciseDuration {
    margin-bottom: 2rem !important;
}

#multiple {
    font-size: 0.8rem;
    margin-top: 0;
}

#userDetails {
    padding-top:0.6rem;
    padding-bottom:0.5rem;
    background-color: var(--darker-secondary-color);
    color: var(--darker-tertiary-color);
    border-radius: 3%;
    opacity: 0;
    transition-delay: 300ms;
    transition: opacity 600ms ease;
}

.noneDis {
    display: none !important;
    transition: opacity 600ms ease;
}

#userDetails h3 {
    padding-top:1.5rem;
    font-size: 2rem;
    color: var(--darker-tertiary-color)
}

#userDetails textarea {
    background-color: var(--primary-color);
}


.result {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.item {
    min-width: 200px;
    margin: 20px auto;
}

#name {
    width: 85%;
}

#age {
    width:25%;
}


#nameAgebox {
    display:flex;
    flex-direction: column;
    margin-left:8%;
    width:75%;
    margin-top: 1rem;
}

#genderBox {
    margin-left:20%;
}

#heightWeightbox {
    width:55%;
    margin-left:15%;
}

#heightWeightbox input {
    
    width:100%;
    margin:auto;
}

#userProfileAfter {
    margin-bottom: 1em;
}

#userProfileAfter::after {
    content: '* required field';
    position: relative;
    top: 1em;
    font-size: 0.8em;
    opacity: 0.8;
}

#btnBox {
    margin-left:20%;
}

#recipeAPIcard {
    opacity: 0;
    transition: opacity 700ms ease;
}

#trainerAPIcard {
    opacity: 0;
    transition: opacity 700ms ease;
}

#startOver {
    margin: auto 0 auto auto;
    height:20%;
    border-radius: 5px;
    transition: transform 300ms ease;
}

#startOver:hover {
    transform:scale(1.02);
}

.active {
    opacity: 1 !important;
}

.addMarginRight {
    margin-right: 1rem ;
}

.addMarginLeft {
    margin-left: 1rem;
}

.addMarginTop {
    margin-top: 2rem;
}

.addMarginTopLarge {
    margin-top: 5rem;
}

#foot {
    border-top: 0.6rem outset var(--lighter-secondary-color);
}