:root {
--primary-color: #BFD2BF;
--lighter-secondary-color: #7BB2D9;
--darker-secondary-color: #839D9A;
--lighter-tertiary-color: #646F4B;
--darker-tertiary-color: #46351D;
}

header {
    border-bottom: 0.5rem outset var(--lighter-secondary-color);
    color: var(--primary-color);
    margin-bottom: 1rem;
}

#page-title {
    align-self: center;
}

#userProfile {
    margin: 0 2rem 0 1rem;
}

#workoutInput {
    width:100%;
}

#header {
    background-color: var(--lighter-secondary-color);
}

#header ul {
    background-color: var(--lighter-secondary-color);
}

nav {
    margin-right: 0.3rem;
}

#userProfile h2 {
    border-bottom: 0.2rem solid var(--darker-secondary-color);
}

#bodyInfo{
    display: flex;
    flex-direction: column;
    margin-top: 10px
}

#userDetails {
    padding-top:0.4rem;
    padding-bottom:0.5rem;
    background-color: var(--darker-secondary-color);
    color: var(--darker-tertiary-color);
    border-radius: 3%;
}

#userDetails h3 {
    padding-top:0;
    font-size: 2rem;
    color: var(--darker-tertiary-color)
}

#userDetails textarea {
    background-color: var(--primary-color);
}

#trainerAPIcard {
    margin: 0 auto 0 auto;
}

.result {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.item {
    min-width: 200px;
    margin: 20px auto;
}

#name {
    width: 85%;
}

#age {
    width:15%;
}


#nameAgebox {
    display:flex;
    margin-left:8%;
    width:75%;
    margin-bottom: 1rem;
}

#heightWeightbox {
    display:flex;
    width:55%;
    margin-left:15%;
}

#heightWeightbox input {
    width:100%;
    margin:auto;
}

#recipeAPIcard {
    opacity: 0;
    transition: opacity 700ms ease;
}

.active {
    opacity: 1 !important;
}